.App {
  text-align: center;
}

.header {
  display: flex;
  background-color: gray;
  height: 70px;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
}
a{
  text-decoration: none;
  color: black;  
}
a:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header div {
  width: 25%;
  padding: 20px;
}

.body img {
  margin-top: 80px;
  width: 50%;
}
.showItem:after {
  content: "";
  display: table;
  clear: both;
}
.item {
  float: left;
  width: 33.33%;
}
.item:hover {
  background-color: aqua;
}
.moreBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* ItemPage */
.detail_page {
  padding-top: 100px;
  width: 80%;
  display: flex;
  margin: 0 auto;
}
.detail_page > img {
  width: 50%;
}
.explain {
  width: 50%;
  text-align: left;
  margin-top: 50px;
  margin-left: 50px;
}
.explain > div {
  height: 20%;
  font-size: large;
}
.sizw_list:after {
  content: "";
  display: table;
  clear: both;
}
.size{
  background-color: antiquewhite;
  border-radius: 3px;
  font-weight: bold;
  width: 14.28%;
  float: left;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
}
.size:hover {
  opacity: 0.7;
  cursor: pointer;
}